<ion-view>
    <ion-nav-title>
        <span class="font2">    Aplicaciones   </span>
    </ion-nav-title>
    <ion-content ng-hide="loading">
     
        <div class="list">
            <a ng-repeat="x in Session.user.aplicaciones" class="item item-thumbnail-left g" href="#/app/oferta/{{x}}" style="font: italic bold 12px/30px Georgia, serif;" >
                <img ng-src={{pics[0]}} >
                <center>
                    <h2 style="margin:8px">{{x.perfil}}</h2>
                    
                      <p>{{x.descripcion}}</p>
               
               
              
                
                <p style="margin:4px">
                    <i class="icon ion-ios-stopwatch-outline placeholder-icon " style="color:black"> <spam style="color:black">{{x.inicio | date:"MM-dd"}}</spam></i>
                    <i class="icon ion-social-usd placeholder-icon " style="color:#ffd600"><spam style="color:black"> {{x.salario}}</spam></i>
                    <i class="icon ion-location placeholder-icon " style="color:red"> <spam style="color:black">{{ x.cuidad}} 
      </spam></i>
                </p>

                 </center>


                 

            </a>

        </div>
    </ion-content>
</ion-view>
