<ion-view>
    <ion-nav-title>
        <span class="font2">    Empleos   </span>
    </ion-nav-title>
    <ion-content ng-hide="loading">
        <div class="item-input-inset search ">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon "></i>
                <input type="search" placeholder="empleos" ng-model="buscar">
            </label>
            <button class="button icon ion-android-options g" ng-click="f()"></button>
            </button>
        </div>
        <div class="list">
            <a ng-repeat="x in Empleos | filter :buscar | filter :filtro.Category | filter :filtro.Departament | filter :filtro.City
    | filter :filtro.TipoContrato | filter :filtro.Jornada" class="item item-thumbnail-left g">
                <img ng-src={{pics[0]}}>
                <center>
                    <h2>Empresa</h2>
                </center>
                <p>{{x.name}}</p>
                <p>{{x.ap}}</p>
                <br>
                <br>
                <p>
                    <i class="icon ion-ios-stopwatch-outline placeholder-icon " style="color:black"> <spam style="color:black">Fecha</spam></i>
                    <i class="icon ion-social-usd placeholder-icon " style="color:#ffd600"><spam style="color:black"> Salario</spam></i>
                    <i class="icon ion-location placeholder-icon " style="color:red"> <spam style="color:black"> localidad 
      </spam></i>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
