<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-balanced">
        <div class="button icon icon-left ion-ios-trash " ng-click="dF()">
            Limpiar
        </div>
        <div class="button icon icon-left ion-ios-compose " ng-click="closeFiltro()">
            Aplicar
        </div>
    </ion-header-bar>
    <ion-content class="padding verde">
        <br>
    
        
        <br>
        <label class="item item-input  item-input-wrapper g">
            <i class="icon placeholder-icon ">
    <img src="img/city.png" alt="" width="30" height="30">
  </i>
            <div class="input-label filtro">
                Ciudad
            </div>
        </label>
        <label class="item item-select item-input ">
            <select ng-model="filtro.City">
                <option></option>
                <option ng-repeat="x in ofertas | unique: 'cuidad'">{{x.cuidad}}</option>
            </select>
            <br>
        </label>
        <br>
        <label class="item item-input  item-input-wrapper g">
            <i class="icon placeholder-icon ">
    <img src="img/tipoC.png" alt="" width="30" height="30">
  </i>
            <div class="input-label filtro">
                Tipo de contrato
            </div>
        </label>
        <label class="item item-select item-input ">
            <select ng-model="filtro.TipoContrato">
                <option></option>
                <option ng-repeat="x in ofertas  | unique: 'contracto' ">{{x.contracto}}</option>
            </select>
            <br>
        </label>
        <br>
        <label class="item item-input  item-input-wrapper g">
            <i class="icon placeholder-icon ">
    <img src="img/clock.png" alt="" width="40" height="40">
  </i>
            <div class="input-label filtro">
                Jornada de trabajo
            </div>
        </label>
        <label class="item item-select item-input ">
            <select ng-model="filtro.Jornada">
                <option></option>
                <option ng-repeat="x in ofertas | unique: 'jornada'">{{x.jornada}}</option>
            </select>
            <br>
        </label>
        <br>
        <ul class="list">
       
                <br>
                <center>
                    <p style="color:white">{{filtro.Fange| currency : symbol : fractionSize}}</p>
                </center>
                <div class="item range range-balanced g">
                    <i class="icon ion-social-usd-outline "></i>
                    <input type="range" name="volumen" ng-model="filtro.Fange" min="0" max="5000000">
                    <i class="icon  ion-social-usd " style="color:#ffd600"></i>
                </div>
            </li>
            <li>
            </li>
        </ul>
    </ion-content>
</ion-modal-view>
